<div id="<%= dom_id patient %>">
  <p>
    <strong>Health:</strong>
    <%= patient.health_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= patient.patient_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

</div>
