<div id="<%= dom_id access_request %>">
  <p>
    <strong>Patient:</strong>
    <%= access_request.patient_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= access_request.company_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= access_request.status %>
  </p>

</div>
